# data
data/

# logs
logs/

# model artifacts ((manual subdir sepcification because want to specify exceptions)
models/pretuning
models/tuned/lr*
# do commit the xgb model versions
models/tuned/xgb/*
!models/tuned/xgb/standard.pkl

# plots
plots/

# other temporary data
__pycache__/
*.egg-info

# terraform files
.terraform/
# state stored locally but ignore just in case
terraform.tfstate